body{font-size: 18px;}
.fontB{font-weight:bold;}
.center {
  width: auto;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.margin-bottom{
	margin-bottom: 15px;
}
.bottom{
	position:static;
	bottom:10%;
}
.ok{
	width:32px;
	height: 32px;
	cursor:pointer;
}
.ok:hover{
	opacity:0.5;
}
.cancle{
	width:32px;
	height: 32px;
	cursor:pointer;
}
.cancle:hover{
	opacity:0.5;
}